# Python
*.pyc
__pycache__/
.Python
venv/
env/
*.egg-info/
.pytest_cache/
.coverage
.mypy_cache/
.ipynb_checkpoints/

# Django specific
*.log
*.sqlite3
media/
static_files/
local_settings.py

# Environment variables
.env

# Operating System files
.DS_Store
.Trashes
Thumbs.db